@import "bootstrap/bootstrap.less";

@black: #000;
@white: #fff;

@purple : #765cb8;
@pink : #b55cb8;
@greenish : #33b881;

//Pages
@import "theme/page-header.less";
@import "theme/page-commands.less";
@import "theme/elements.less";
