<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aquilon Console">
    <title>Aquilon Console</title>
    <link rel="shortcut icon" href="/assets/images/logo.png" sizes="16x16 32x32 48x48 64x64">
    <link rel="stylesheet" href="/assets/css/theme.css" type="text/css" />
    {% block css %}{% endblock %}
  </head>  <body>
    <nav id="navigation" class="fixed-top" role="navigation">
      <div class="container">
        <a class="brand pull-left" href="/">
          <img src="/assets/images/logo.png" alt="Aquilon Console" />
          Aquilon Console
        </a>
        <div class="mobile-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <ul class="main-menu nav navbar-nav collapse navbar-collapse">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Manage <b class="caret"></b></a>
            <ul class="dropdown-menu" style="text-align:left">
              <li><a href="/hosts">Hosts</a></li>
              <li><a href="/personalities">Personalities</a></li>
            </ul>
          </li>
          <li><a href="/az">A-Z</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
    {% block content %}{% endblock %}
    </div>

    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
